.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--color-primary);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  max-width: var(--width-sm);
  width: 100%;
}

.loginHeader {
  text-align: center;
}

.loginTitle {
  font-size: var(--font-size-xl);
}

.loginDesc {
  font-size: var(--font-size-xs);
}
